<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+JP:wght@700&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Pi Games</title>
</head>
<body>
<input type="checkbox" id="toggle">
<nav>
    <div class="nav-Title">
        <h1>Pi Games</h1> <!-- overwritten -->
    </div>
    <div>
        <ul class="nav-List">   <!-- Create List -->
            <div class="dropdown">
                <button class="dropbtn">Manage</button>
                <div class="dropdown-content">
                    <a href="/automanage" class="nav-link"> <!-- Links -->
                        <li  class="nav-item">Auto</li><!-- Create new Items -->
                    </a>
                    <a href="/streckenmanage" class="nav-link"> <!-- Links -->
                        <li  class="nav-item">Strecken</li><!-- Create new Items -->
                    </a>
                    <a href="/zeitmanage" class="nav-link"> <!-- Links -->
                        <li  class="nav-item">Zeit</li><!-- Create new Items -->
                    </a>
                </div>
            </div>
            <a href="/allModies" class="nav-link">
                <li class="nav-item">Races</li>
            </a>
            <a href="/register" class="nav-link"> <!-- Links -->
                <li class="nav-item">SignUp</li><!-- Create new Items -->
            </a>
            <a href="/login">
                <li id="nav-login" class="nav-item">Login</li>
            </a>
            <!--
            <li id="nav-login" class="nav-item">
                <a href="/login">Login</a>
            </li>
            -->
        </ul>
    </div>
    <label class="navbar-toggle" for="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>
</nav>
<div id="streckenbeispiel">
    <div>
        <h1 id="streckenname">Strecke1 :</h1>
        <img id="streckenimg" src="https://media.istockphoto.com/id/165965397/de/vektor/motor-race.jpg?s=612x612&w=0&k=20&c=LXyW272VrR28uOf0LV3G6BMKWaBdoXBmxw9RuMWVCD8=">
    </div>
    <div id="tabellestreckenzeit">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fahrzeit</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
            <%fahrzeit.forEach(function(fahrzeiten){%>
                <tr>
                    <td><%= fahrzeiten.ID%></td>
                    <td><%= fahrzeiten.Fahrzeit%></td>
                    <td><%= fahrzeiten.Timestamp.toLocaleString().replace('GMT+0200 (Central European Summer Time)','')%></td>
                </tr>
            <%})%>
            </tbody>
        </table>
</div>
</div>
</body>
</html>