@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif+JP:wght@700&family=Open+Sans&display=swap');

*{
    text-decoration: none;
}
:root{
    --Film-Background:#818d97;
    --film-Title-background: #484d51;
    --film-description: #212121;
    --back: #d2e4f1;
    --back-hover: #484d51;
    --serien-link-color: #212121;
    --serien-link-color-hover: #e7e0e0;
    --serien-link:#818d97;
    --serien-link-hover: #484d51;
}
::selection{
    background-color: #e7e7e7;
    color: #212121;
}
h2{
    margin: 0;
    height: 0;
}
a{
    text-decoration: none;
    color: var(--color);
}
body{
    letter-spacing: 1px;
    font-family: 'Lilita One', cursive;
    background:var(--Film-Background);
    margin: 0;
    padding: 0;
    color: black;
    height: 100%;
    width: 100%;
}
html{
    width: 100%;
    height: 100%;
}
input {
    width: 93%;
    height: 25px;
    margin: 2.5%;
}
label{
    margin: 5%;
    width: 90%;
    font-size: 20px;
}
button{
    font-family: 'Lilita One', cursive;
    font-size: 20px;
    width:90%;
    height: 40px;
    margin: 5%;
    background-color: #d2d2d2;
    color: black;
    border-radius: 15px;
    transition: 0.15s linear;
}
button:hover{
    color: white;
    cursor: pointer;
    background-color:#0074c3;
}
a{
    color: green;
}
#account {
     margin-left: 7%;
     margin-top: -3%;
 }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-container{
    display: block;
}
.container-container-canvas .register{
    text-align: center;
    border-bottom: inset 1px black;
}
.container-container-canvas{
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 5px #7c7e83;
    width: 600px;
    height: 350px;
}
.message-container-successfully{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px ;
    background-color: mediumspringgreen;
    color: white;
    margin-top: 2%;
    font-size: 20px;
    box-shadow: 0 0 5px 5px #7c7e83;
    width: 600px;
    height: 50px;
}
@media screen and (max-width: 610px){
    .container-container-canvas{
        width: 500px;
    }
    .massage-container{
        width: 500px;
    }
}
@media screen and (max-width: 510px){
    .container-container-canvas{
        width: 400px;
    }
    .massage-container{
        width: 400px;
    }
}
@media screen and (max-width: 400px){
    .container-container-canvas{
        width: 350px;
    }
    .massage-container{
        width: 400px;
    }
}